@charset "utf-8";
#container { position: relative; } 
#subHeader { background: no-repeat / cover; }
#subHeader.subHeaderCoffee { max-width: 100%; height: 675px; background: url(../img/subHeader_coffee.png); }
#subHeader h2 { font-size: 80px; color: #fff; text-transform: uppercase; position: absolute; top: 290px; right: 320px; }
#container > h2 { font-size: 60px; color: #422e27; text-align: center; margin-top: 230px; }

#SlvPackWrap {  position: relative; margin-top: 300px; }
#SlvPackWrap h3, #MasterOriginWrap h3 { font-size: 32px; color: #422e27; margin-left: 230px; }
#SlvPackWrap h3::after, #MasterOriginWrap h3::after { content: ""; border: 1px solid #422e27; margin-left: 30px; }
#SlvPackWrap > p { font-size: 25px; color: #422e27; position: absolute; top: 5px; left: 400px; }

#SlvPack, #MasterOrigin { width: 100%; display: grid; grid-template-columns: auto auto auto; grid-row-gap: 80px;  justify-content: center; margin-bottom: 500px; gap: 60px; }
#SlvPack dl,#MasterOrigin dl { width: 454px; height: 468px; border: 1px solid #a0a0a0; border-radius: 50px; text-align: center; margin-top: 150px; position: relative; }

#SlvPack dt { font-size: 23px; position: absolute; top: 500px; left: 50%; transform: translate(-50%, 0%); }
#SlvPack dd p { font-size: 28px; font-weight: bold; position: absolute; top: 545px; left: 50%; transform: translate(-50%, 0%); }
#SlvPack dd img { padding-top: 80px; }


#MasterOriginWrap { position: relative; }
#MasterOriginWrap > p { font-size: 25px; color: #422e27; position: absolute; top: 5px; left: 470px; }
#MasterOrigin dl:nth-child(n+2) { padding-top: 50px; }
#MasterOrigin dt { font-size: 23px; position: absolute; top: 500px; left: 50%; transform: translate(-50%, 0%); }
#MasterOrigin dd p:nth-child(2) { font-size: 28px; font-weight: bold; position: absolute; top: 545px; left: 50%; transform: translate(-50%, 0%); }
#MasterOrigin dd p:nth-child(3) { font-size: 15px; position: absolute; top: 20px; right: 100px; margin-right: 15px; }
#MasterOrigin dd p:nth-child(4) { font-size: 15px; position: absolute; top: 20px; right: 30px; }
#MasterOrigin dd p span::before { content: ""; display: block; width: 10px; height: 10px; border-radius: 50%; background: #422e27; position: absolute; top: 7px; left: -15px;  }
#MasterOrigin dl:nth-child(1) img { padding-top: 80px; }
#MasterOrigin dl:nth-child(n+2) img { padding: 80px 0 60px 0; }


.button { width: 400px; height: 50px; font-size: 18px; text-align: center; border-radius: 25px;  transform: translate3d(0, 0, 0); background: #fff; margin: 10px auto; text-transform: uppercase; font-weight: 300; overflow: hidden; }
.wave { position: absolute; top: 100%; left: 25%; background: #422e27; width: 500px; height: 500px; margin-left: -150px; margin-bottom: -302px; transform-origin: 50% 48%; border-radius: 43%; transition-duration: 0.75s; transition-timing-function: ease; }
article dl:hover .wave { margin-top: -140px; animation: rotate 2000ms infinite linear; z-index: -1; }
article dl:hover::after { content: "장바구니"; color: #fff; position: absolute; bottom: 26px; left: 50%; transform: translate(-50%, 0%); font-size: 18px; font-weight: 300; }

@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); } }


@media screen and (max-width: 1200px) {
    /* #subHeader { max-width: 100%; height: auto; } */
    #subHeader.subHeaderCoffee { width: auto; }
    #subHeader h2 {top: 250px; left: 400px; }
    
    #SlvPackWrap h3, #MasterOriginWrap h3 {  margin-left: 100px; }
    #SlvPackWrap > p { left: 270px; }
    #MasterOriginWrap > p { top: 10px; left: 340px; font-size: 20px; }
}

@media screen and (max-width: 600px) {
    #subHeader.subHeaderCoffee { width: auto; }
    #subHeader h2 { font-size: 50px; top: 400px; left: 100px; }
    #SlvPack, #MasterOrigin { grid-template-columns: auto auto; }
}